* {
    background-color: white;
}

.title {
    font-weight: bold;
    text-align: center;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.point  {
    color: white;
}

.image  {
    height: auto;
    width: auto;
}