* {
    background-color: white;
}

.title {
    font-weight: bold;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}

.border {
    border: .05em solid #1d1c1e;
    width: 500px;
    margin: auto;
}

.point  {
    color: white;
}

.links-list a {
    background-color: #0c0c0c;
    color: white;
    text-decoration: none;
    width: 160px;
    height: 20px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.links-list a:hover {
    background-color: #1d1c1e;
    color: white;
    font-size: 17px;
}

.image  {
    height: auto;
    width: auto;
}